/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
h1 {
   font-size: 220%;
   margin: 10px;
   margin-bottom: 0px;
}
h2 {
   font-size: 200%;
}
h3 {
   font-size: 180%;
}
h4 {
   font-size: 160%;
}
h5 {
   font-size: 140%;
}
h6 {
   font-size: 120%;
   margin: 22px;
}
p {
   margin: 0px;
}
#wrapper {
   width:1366px;
   margin-left: auto;
   margin-right: auto;
   color: #414757;
   background-color: white;
}
#branding {
   margin-top: 10px;
   margin-left: 195px;
   margin-right: 195px;
}
.logo {
   height: 20%;
   width: 20%;
}
.bbblogo {
   float: right;
   margin-right: 32px;
   margin-top: 16px;
}
#branding p {
   float: right;
   line-height: 15px;
   margin-top: 15px;
   text-align: right;
}
#branding strong {
   color: #3E8251;
}
.sfblogo {
   float: right;
   margin-left: 15px;
   margin-top: 15px;
}
#primary_links {
   width: 1366px;
   height: 50px;
   line-height: 50px;
   background-color: #3E8251;
}
#primary_links li {
   display: inline;
}
#primary_links ul {
   margin: 8px;
   background-color: #3E8251;
}
#primary_links .first {
   margin-left: 315px;
   margin-right: 25px;
}
#primary_links .mid {
   margin-left: 45px;
   margin-right: 30px;
}
#primary_links .last {
   margin-right: 100px;
   margin-left: 35px;
}
#primary_links a {
   text-decoration: none;
   color: white;
}
#primary_links a:hover {
   text-decoration: underline;
   color: white;
}
#contact {
   margin-left: 195px;
   margin-right: 195px;
   text-align: center;
}
#contact_quote {
   color: #B0B0B0;
}
#contact_title {
   margin-bottom: 0px;
   margin-top: 10px;
   line-height: 30px;
}
#serving {
   margin-left: 195px;
   margin-right: 195px;
   color: #3E8251;
   text-align: center;
}
#video {
   margin-left: 406px;
   margin-right: 406px;
   margin-bottom: 26px;
}
#facebook {
   margin-left: 195px;
   margin-right: 195px;
   width: 976px;
   height: 50px;
   line-height: 50px;
   color: white;
   background-color: #3B5999;
   border-radius: 5px 5px 5px 5px;
}
.FBlogo1 {
   width: 45px;
   height: 45px;
   margin-right: 250px;
}
.FBlogo2 {
   width: 45px;
   height: 45px;
   margin-left: 250px;
}
#welcome {
   width: 460px;
   float: left;
   margin-left: 195px;
   margin-top: 50px;
}
#qualities {
   width: 420px;
   float: right;
   margin-right: 195px;
   margin-top: 50px;
}
#table {
   margin-left: 195px;
}
.hctable {
   width: 976px;
   margin-top: 20px;
   margin-bottom: 20px;
}
#heating {
   margin-top: 20px;
   margin-bottom: 20px;
   height: 380px;
   background-color: #EEF1F6;
}
#heating h1 {
   margin-left: 195px;
   margin-right: 195px;
   height: 60px;
   line-height: 90px;
   text-align: center;
   color: #BE382A;
}
#heating p {
   margin-left: 195px;
   margin-right: 195px;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
}
.heating1 {
   margin-left: 260px;
}
.heating2 {
   margin-left: 55px;
   margin-right: 55px;
}
.heating3 {
   margin-right: 260px;
}
#cooling {
   margin-top: 20px;
   margin-bottom: 20px;
   height: 380px;
}
#cooling h1 {
   margin-left: 195px;
   margin-right: 195px;
   height: 60px;
   line-height: 90px;
   text-align: center;
   color: #2F82BB;
}
#cooling p {
   margin-left: 195px;
   margin-right: 195px;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
}
.cooling1 {
   margin-left: 260px;
}
.cooling2 {
   margin-left: 55px;
   margin-right: 55px;
}
.cooling3 {
   margin-right: 260px;
}
#aboutus {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 839px;
  background-color: #EEF1F6;
}
#aboutus h1 {
   margin-left: 195px;
   margin-right: 195px;
   height: 60px;
   line-height: 90px;
   text-align: center;
   color: #3F3F41;
}
#aboutus p {
   margin-left: 195px;
   margin-right: 195px;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
}
.aboutus {
   margin-left: 195px;
   margin-right: 195px;
   width: 70%;
}
